body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: 1b263b;
}

.avatar {
    width: 100px;
    border-radius: 20px;
}

.card {
    width: 400px;
    margin-left:auto;
    margin-right:auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: black;
    color: white;
    border-bottom: 10px solid #d8cefe;
    border-top: 10px solid #d8cefe;
    border-radius: 30px
}

.border-blue {
    border: 1px dotted blue;
}
